<h2>Data process response<h2>
<p>Your data analization failed due to some kind of problem</p>

<p>Could be Wi-fi?</p>


<ul>
  <% @e.each do |x| %> 
    <li>
      <div><%= x.id %><div><%= x.text %></div></div>
    </li>
  <% end %>
</ul>

