<h2>Data process response</h2>
<p>Your data analization failed due to some kind of problem</p>

<h2>One or more errors occured </h2>
<h3>Analyze Log </h3>

<div>
  <% @e.each do |x| %> 
      <pre><%= x.text %><pre>
  <% end %>
</div>
